*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.forms{
    display: flex;
    justify-content: space-around;
}

form{
    max-width: 400px;
    padding: 50px;
    border: 1px solid #c466c4;
}

.field{
    display: block;
    margin-top: 20px;
}

.field-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    letter-spacing: 0.01em;
    color: #6f7482;
    margin-bottom: 2px;
}

.field-input{
    width: 100%;
    outline: 0;
    padding: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    letter-spacing: 0.01em;
    color: #3b4256;
    border: 0;
    background: #f8fafc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.field-input::placeholder{
    color: #b8bcca;
}

.field-textarea{
    resize: vertical;
    min-height: 100px;
    max-height: 400px;
}

.radio{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.radio-input{
    display: none;
}

.radio-input:checked ~ .radio-box .radio-circle {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.radio-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #3b4256;
}

.radio-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #3b4256;
}

.radio-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #3b4256;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d7acac;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #c466c4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #c466c4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  button{
    margin-top: 40px;
    padding: 18px 38px;
    font-size: 20px;
    border: none;
    color: #3b4256;
    background-color: #c466c4;
    cursor: pointer;
  }